{{ $n := .Request.Limit }}
{{ $q_param := .Request.Search }}
{{ $total_rate := 0.0 }}

<table id="summary">

<tr class="header">
	<th class="category text">
		&nbsp;
	</th>
	<th class="active count">
		<a href="?active&q={{$q_param}}&n={{$n}}">Active</a>
	</th>
	{{ range .Stats.Bucketing -}}
	<th class="bucket count min-{{.String}}">
		<a href="?min={{.String}}&q={{$q_param}}&n={{$n}}">&geq;{{.String}}</a>
	</th>
	{{ end -}}
	<th class="errored count">
		<a href="?errored&q={{$q_param}}&n={{$n}}">Error</a>
	</th>
	<th class="total count">
		Total
	</th>
	<th class="separator">
		&nbsp;
	</th>
	<th class="newest numeric">
		Oldest
	</th>
	<th class="newest numeric">
		Newest
	</th>
	<th class="rate numeric">
		Rate
	</th>
</tr>

{{ range .Stats.Categories -}}
{{ $category_class_name := category2class .Name }}
<tr class="category">
	{{ $category_name := .Name                              -}}
	{{ $num_active    := .NumActive                         -}}
	{{ $num_errored   := .NumErrored                        -}}
	{{ $num_total     := .NumTotal                          -}}
	{{ $pct_active    := intpercent $num_active $num_total  -}}
	{{ $pct_errored   := intpercent $num_errored $num_total -}}

	<td class="category text {{$category_class_name}}">
		<a href="?category={{$category_name}}&q={{$q_param}}&n={{$n}}">{{$category_name}}</a>
	</td>

	<td class="active count progress active {{$category_class_name}}" title="{{$num_active}} of {{$num_total}}, {{$pct_active}}%">
		<div class="progress-bar" style="width:{{$pct_active}}%;"></div>
		<a href="?category={{$category_name}}&active&q={{$q_param}}&n={{$n}}">{{$num_active}}</a>
	</td>

	{{ range .Buckets -}}
	{{ $num_succeeded := .NumSucceeded                        -}}
	{{ $pct_succeeded := intpercent $num_succeeded $num_total -}}
	<td class="bucket count progress finished succeeded min-{{.MinDuration}} {{$category_class_name}}" title="{{$num_succeeded}} of {{$num_total}}, {{$pct_succeeded}}%">
		<div class="progress-bar" style="width:{{$pct_succeeded}}%;"></div>
		<a href="?category={{$category_name}}&min={{.MinDuration}}&q={{$q_param}}&n={{$n}}">{{$num_succeeded}}</a>
	</td>
	{{ end -}}

	<td class="errored count progress finished errored {{$category_class_name}}" title="{{$num_errored}} of {{$num_total}}, {{$pct_errored}}%">
		<div class="progress-bar" style="width:{{$pct_errored}}%;"></div>
		<a href="?category={{$category_name}}&errored&q={{$q_param}}&n={{$n}}">{{$num_errored}}</a>
	</td>

	<td class="total count {{$category_class_name}}" title="{{$num_total}} total traces">
		{{$num_total}}
	</td>

	<td class="separator {{$category_class_name}}">
		&nbsp;
	</td>

	<td class="oldest numeric {{$category_class_name}}">
		{{humanize (timesince .Oldest)}}
	</td>

	<td class="newest numeric {{$category_class_name}}">
		{{humanize (timesince .Newest)}}
	</td>

	<td class="rate numeric {{$category_class_name}}">
		{{ $rate       := ratecalc $num_total (timediff .Newest .Oldest) }}
		{{ $total_rate  = floatadd $total_rate $rate }}
		{{ humanizefloat $rate }}/s
	</td>
</tr>
{{ end -}}

{{ with .Stats.Overall -}}
<tr class="category category-overall">
	{{ $category_name := .Name                              -}}
	{{ $num_active    := .NumActive                         -}}
	{{ $num_errored   := .NumErrored                        -}}
	{{ $num_total     := .NumTotal                          -}}
	{{ $pct_active    := intpercent $num_active $num_total  -}}
	{{ $pct_errored   := intpercent $num_errored $num_total -}}

	<td class="category text">
		<a href="?&q={{$q_param}}&n={{$n}}">(overall)</a>
	</td>

	<td class="active count progress" title="{{$num_active}} of {{$num_total}}, {{$pct_active}}%">
		<div class="progress-bar" style="width:{{$pct_active}}%;"></div>
		{{$num_active}}
	</td>

	{{ range .Buckets -}}
	{{ $num_succeeded := .NumSucceeded                        -}}
	{{ $pct_succeeded := intpercent $num_succeeded $num_total -}}
	<td class="bucket count progress min-{{.MinDuration}}" title="{{$num_succeeded}} of {{$num_total}}, {{$pct_succeeded}}%">
		<div class="progress-bar" style="width:{{$pct_succeeded}}%;"></div>
		{{$num_succeeded}}
	</td>
	{{ end -}}

	<td class="errored count progress" title="{{$num_errored}} of {{$num_total}}, {{$pct_errored}}%">
		<div class="progress-bar" style="width:{{$pct_errored}}%;"></div>
		{{$num_errored}}
	</td>

	<td class="total count" title="{{$num_total}} total traces">
		{{$num_total}}
	</td>

	<td class="separator">
		&nbsp;
	</td>

	<td class="oldest numeric">
		{{ if not .Oldest.IsZero -}} {{humanize (timesince .Oldest)}} {{ end -}}
	</td>

	<td class="newest numeric">
		{{ if not .Newest.IsZero -}} {{humanize (timesince .Newest)}} {{ end -}}
	</td>

	<td class="rate numeric">
		{{ humanizefloat $total_rate }}/s
	</td>
</tr>
{{ end -}}

</table>
