<div id="topline">

	<div id="topline-form">
		<form method="GET" target="" >
			<input id="query-box" type="text" name="q" placeholder=".*" {{if .Request.Search}}value="{{.Request.Search}}"{{end}} size="32" autofocus onfocus="this.select();" />
			{{ if .Request.Category    -}}<input type="hidden" name="category"  value="{{.Request.Category}}"    />{{ end -}}
			{{ if .Request.IsActive    -}}<input type="hidden" name="active"    value="{{.Request.IsActive}}"    />{{ end -}}
			{{ if .Request.IsFinished  -}}<input type="hidden" name="finished"  value="{{.Request.IsFinished}}"  />{{ end -}}
			{{ if .Request.IsSucceeded -}}<input type="hidden" name="succeeded" value="{{.Request.IsSucceeded}}" />{{ end -}}
			{{ if .Request.IsErrored   -}}<input type="hidden" name="errored"   value="{{.Request.IsErrored}}"   />{{ end -}}
			{{ if .Request.MinDuration -}}<input type="hidden" name="min"       value="{{.Request.MinDuration}}" />{{ end -}}
			<select id="query-limit" name="n">
				<option name="10"   {{if eq .Request.Limit 10  }}selected{{end}}>10  </option>
				<option name="100"  {{if eq .Request.Limit 100 }}selected{{end}}>100 </option>
				<option name="1000" {{if eq .Request.Limit 1000}}selected{{end}}>1000</option>
				{{ if not ( or ( or (eq .Request.Limit 10) (eq .Request.Limit 100) ) (eq .Request.Limit 1000) ) -}}
				<option name="{{.Request.Limit}}" selected>{{.Request.Limit}}</option>
				{{ end -}}
			</select>
			<input id="query-button" type="submit" value="query" onclick="let elem = document.getElementById('query-box'); elem.disabled = elem.value == '';" />
			<input id="stream-button" type="button" value="stream"/>
		</form>
	</div>

	<div id="topline-metadata">
		{{ if .Origins -}}<div id="topline-origins">origins={{len .Origins}}</div>{{ end -}}

		<div id="topline-query-traces"  class="topline-query">traces={{ .Stats.Overall.NumTotal }}</div>
		<div id="topline-query-matched" class="topline-query">matched={{ .Matched }}</div>
		<div id="topline-query-shown"   class="topline-query">shown={{ len .Selected }}</div>
		<div id="topline-query-took"    class="topline-query">took={{ humanize .Duration }}</div>
		<div id="topline-query-age"     class="topline-query">age=<span class="time-since" title="{{timenow}}"></span></div>

		<div id="topline-stream-state"    class="topline-stream"></div>
		<div id="topline-stream-filtered" class="topline-stream"></div>
		<div id="topline-stream-emitted"  class="topline-stream"></div>
		<div id="topline-stream-drops"    class="topline-stream"></div>
	</div>

</div>
