<div id="{{.ID}}" class="trace">

	<div class="metadata">
		<strong class="searchable"><a href="?id={{.ID}}">{{ .ID }}</a></strong>
		&middot; <a href="?id={{.ID}}&json">JSON</a>
		&middot; <span title="{{.Start}}">{{humanize (timesince .Start)}} ago</span>

		<span class="right">
			<span id="{{.ID}}-stacks" class="stacks-link" title="Show stacks">
				<a href="#" onclick="showstacks({{.ID}});"><strong>[≡]</strong></a>
			</span>
		</span>
	</div>

	<div class="events">
		<div class="event start">
			<div class="timestamp">
				{{timetrunc .Start}}
			</div>

			<div class="delta">
				<div class="progress-bar" style="width:1%;"></div>
				+0
			</div>

			<div class="what">
				<em>
					start
					{{ if .OriginURI -}} on <strong>{{.OriginURI | urihostpath}}</strong>{{ end -}}
				</em>
			</div>
		</div>

		{{ $start      := .Start    -}}
		{{ $duration   := .Duration -}}
		{{ $prev_ts    := .Start    -}}
		{{ $zero_depth := 0         -}}
		{{ if .Events }} {{ $zero_depth = len (index .Events 0).Stack }} {{ end -}}

		{{ range .Events -}}
		<div class="event">
			{{ $delta   := timediff .When $prev_ts      -}}
			{{ $overall := timediff .When $start        -}}
			{{ $percent := timepercent $delta $duration -}}

			<div class="timestamp">
				{{timetrunc .When}}
			</div>

			<div class="delta" title="+{{$delta}} = {{$overall}}">
				<div class="progress-bar" style="width:{{$percent}}%;"></div>
				+{{ humanize $delta }}
				{{ $prev_ts = .When -}}
			</div>

			<div class="what searchable">
				{{ .What.String | htmlescape | insertbreaks }}
				<!-- {{ .What.String }} -->
			</div>

			<div class="stack">
				<details class="stack-details">
					<summary>[≡]</summary>
					<table>
						{{ range $i, $c := .Stack -}}
						<tr>
							<td class="searchable" style="text-align: right;">{{$c.FileLine}}</td>
							<td class="searchable">{{$c.Function}}</td>
						</tr>
						{{ else -}}
						<tr>
							<td colspan=2>(stack elided)</td>
						</tr>
						{{ end -}}
					</table>
				</details>
			</div>
		</div>
		{{ end -}}

		<div class="event end">
			{{ $delta   := timediff (timeadd .Start .Duration) $prev_ts -}}
			{{ $percent := timepercent $delta $duration                 -}}

			<div class="timestamp" title="{{timeadd .Start .Duration}}">
				{{timetrunc (timeadd .Start .Duration)}}
			</div>

			<div class="delta" title="+{{ $delta }} = {{.Duration}}">
				{{ if .Finished }}<div class="progress-bar" style="width:{{$percent}}%;"></div>{{ end -}}
				+{{ humanize $delta }}
			</div>

			<div class="what"><em>{{ if .Finished }} end {{ else }} active... {{ end -}}</em></div>
		</div>

		<div class="event summary">
			<div class="timestamp"></div>
			<div class="duration" title="{{ .Duration }}">&nbsp;{{ if .Finished }}<strong>{{ humanize .Duration }}</strong>{{ else }}<em>{{ humanize .Duration }}</em>{{ end -}}</div>
			<div class="what"></div>
		</div>
	</div>

</div>
