<!DOCTYPE html>
<html lang="en">

<head>
<title>trc</title>
<style>
{{ template "stream.css" . }}
</style>
</head>

<body>

<div id="c">

	<form id="log-form">
		<input id="log-regex" type="text" size=64 placeholder="Filter regex (optional)" autofocus />
		<button id="log-submit">Stream</button>
		<button id="log-clear" type="reset">Clear</button>
	</form>

	<div class="log-streams">
		<div id="log-events">
			{{ range .LogEvents -}}
			<pre><script>document.write(JSON.stringify(JSON.parse({{ . }}), undefined, 4));</script></pre>
			{{ end -}}
		</div>

		<div id="log-metadata">

		</div>
	</div>
</div>

<script>
	function addLogEvent(event) {
		var pre = document.createElement("pre");
		pre.innerText = JSON.stringify(event, undefined, 4);
		let events = document.getElementById("log-events");
		events.prepend(pre);
		while (events.childElementCount > 100) {
			events.removeChild(events.lastChild);
		}
	}

	function addLogMetadata(event) {
		var pre = document.createElement("pre");
		pre.innerText = JSON.stringify(event, undefined, 4);
		let metadata = document.getElementById("log-metadata");
		metadata.prepend(pre);
		while (metadata.childElementCount > 100) {
			metadata.removeChild(metadata.lastChild);
		}
	}

	let source;

	function onSubmit(event) {
		switch (document.getElementById("log-submit").innerText) {
			case "Stream":
				document.getElementById("log-regex").disabled = true;
				document.getElementById("log-regex").setAttribute("placeholder", "Streaming...");
				document.getElementById("log-submit").innerText = "Cancel";
				document.getElementById("log-submit").focus();
				addLogMetadata({ msg: "Connecting..." });
				source = new EventSource("/stream", { withCredentials: true });
				source.onopen = function (event) { addLogMetadata({ msg: "Connected" }); };
				source.onmessage = function (event) { addLogEvent(JSON.parse(event.data)); };
				source.onerror = function (err) { addLogMetadata({ msg: "Ended with error", "err": err }); };
				source.addEventListener("trace", function (event) { addLogEvent(JSON.parse(event.data)); });
				source.addEventListener("stats", function (event) { addLogMetadata(JSON.parse(event.data)); });
				break;
			case "Cancel":
				source.close();
				addLogMetadata({ msg: "Canceled" });
				document.getElementById("log-submit").innerText = "Stream";
				document.getElementById("log-regex").disabled = false;
				document.getElementById("log-regex").setAttribute("placeholder", "Filter regex (optional)");
				document.getElementById("log-regex").focus();
				break;
		};
		event.preventDefault();
	}

	function onClear(event) {
		document.getElementById("log-events").innerHTML = "";
		document.getElementById("log-metadata").innerHTML = "";
		event.preventDefault();
	}

	document.getElementById("log-form").addEventListener("submit", onSubmit);
	document.getElementById("log-clear").addEventListener("click", onClear);
</script>

</body>
</html>
