body {
	font-family: monospace;
}

form,
input,
select {
	font-family: monospace;
}

a,
a:visited {
	text-decoration: none;
	color: blue;
}

div#c {
	margin: 1em;
}

/* */

div.log-streams {
	display: flex;
	justify-content: space-between;
}

div#log-events {
	overflow: scroll;
}

@keyframes flash {
	0% {
		background-color: lightgreen;
	}

	100% {
		background-color: inherit;
	}
}

div#log-events>*,
div#log-metadata>* {
	padding: 1ch;
	animation: flash 1s ease-in;
}

div#log-metadata>* {
	font-size: smaller;
}
