<!DOCTYPE html>
<html lang="en">

<!-- Look, I'm doing my best here. I'm sorry. -->

<head>
<title>trc</title>
<style>
{{ template "traces.css" . }}

{{ $highlight_classes := HighlightClasses .Request.Filter }}
{{ if $highlight_classes }}
table#summary
	th{{ range $highlight_classes }}.{{.}}{{ end }},
	td{{ range $highlight_classes }}.{{.}}{{ end }},
	tr{{ range $highlight_classes }}.{{.}}{{ end }}
	{
		font-weight: bold;
		{{ if or .Request.Filter.Query .Request.Filter.Sources }}
		background-color: rgba(255, 255, 0, 0.4);
		{{ else }}
		background-color: rgba(173, 216, 230, 0.4);
		{{ end }}
	}
{{ else if not .Request.Filter.IDs }}
table#summary tr:last-child td {
	font-weight: bold;
	{{ if or .Request.Filter.Query .Request.Filter.Sources }}
	background-color: rgba(255, 255, 0, 0.4);
	{{ end }}
}
{{ end }}
</style>
</head>

<!-- --------------------------------- -->

<script>
function showStacks(id) {
	let targetElem = document.getElementById(id);
	let stacksLinkElem = document.getElementById(id+"-stacks");
	let doExpand = stacksLinkElem.title == "Show stacks";
	let stackDetails = targetElem.getElementsByClassName("stack-details");
	for (let i = 0; i < stackDetails.length; i++) {
		stackDetails[i].open = doExpand;
	}
	stacksLinkElem.title = doExpand ? "Hide stacks" : "Show stacks";
}

function timeSince(s) {
	var ts  = Date.parse(s);
	var now = new Date();
	var ms  = now - ts;

	var days    = Math.floor(ms / (86400 * 1000)); if (days    > 0) { ms -= (days    * (86400 * 1000)) };
	var hours   = Math.floor(ms / (3600  * 1000)); if (hours   > 0) { ms -= (hours   * (3600  * 1000)) };
	var minutes = Math.floor(ms / (60    * 1000)); if (minutes > 0) { ms -= (minutes * (60    * 1000)) };
	var seconds = Math.floor(ms / (1     * 1000)); if (seconds > 0) { ms -= (seconds * (1     * 1000)) };

	switch (true) {
		case    days > 0: return days+"d"    + hours+"h"   ;
		case   hours > 0: return hours+"h"   + minutes+"m" ;
		case minutes > 0: return minutes+"m" + seconds+"s" ;
		case seconds > 0: return seconds+"s"               ;
		case      ms > 0: return ms+"ms"                   ;
		default:          return "fresh";
	}
}

function calcDates() {
	let timeSinces = document.getElementsByClassName("time-since");
	for (let i = 0; i < timeSinces.length; i++) {
		timeSinces[i].textContent = timeSince(timeSinces[i].title);
	}
}

setInterval(calcDates, 1000);

function highlightQuery() {
	{{ if .Request.Filter.Query }}
	let re = new RegExp('('+{{.Request.Filter.Query}}+')');
	document.getElementById("traces").querySelectorAll(".searchable").forEach(elem => {
		if (re.test(elem.innerHTML)) {
			let oldText = elem.textContent.replace(/(<mark class="highlight">|<\/mark>)/gim, '');
			let newText = oldText.replace(re, '<mark class="highlight">$&</mark>');
			elem.innerHTML = newText;
			let details = elem.closest("details");
			if (details != null) {
				details.open = true;
			}
		}
	});
	{{ end }}
}
</script>

<body>

<!-- --------------------------------- -->

{{ $r := .Request }}
{{ $n := .Request.Limit }}
{{ $f := .Request.Filter }}
{{ $q := .Request.Filter.Query }}

{{ $query_params := printf "n=%d" $n | SafeURL }}

{{ if $q }}
	{{ $query_params = printf "%s&q=%s" $query_params $q | SafeURL }}
{{ end }}

{{ if $f.Sources }}
	{{ range $f.Sources }}
		{{ $query_params = printf "%s&source=%s" $query_params . | SafeURL }}
	{{ end }}
{{ end }}

{{ if not (ReflectDeepEqual DefaultBucketing $r.Bucketing) }}
	{{ range $r.Bucketing }}
		{{ $query_params = printf "%s&b=%s" $query_params . | SafeURL }}
	{{ end }}
{{ end }}

<!-- --------------------------------- -->

<table id="summary">
	<tr class="header">
		<th class="category text">
			&nbsp;
		</th>

		<th class="active">
			<a href="?{{$query_params}}&active">Active</a>
		</th>

		{{ range .Response.Stats.Bucketing }}
		<th class="bucket min-{{.String}}">
			<a href="?{{$query_params}}&min={{.String}}">&geq;{{.String}}</a>
		</th>
		{{ end }}

		<th class="errored">
			<a href="?{{$query_params}}&errored">Error</a>
		</th>

		<th class="total">
			Total
		</th>

		<th class="separator">
			&nbsp;
		</th>

		<th class="oldest" title="Oldest trace">
			Oldest
		</th>

		<th class="newest" title="Newest trace">
			Newest
		</th>

		<th class="rate numeric">
			Rate
		</th>
	</tr>

	{{ range .Response.Stats.AllCategories }}
	<tr class="category">
		{{ $category_name         := .Category                    }}
		{{ $category_class_name   := CategoryClass $category_name }}

		{{ $category_query_params := $query_params }}
		{{ if ne $category_name "overall" }}
			{{ $category_query_params = printf "%s&category=%s" $query_params $category_name | SafeURL }}
		{{ end }}

		{{ $active_count  := .ActiveCount                           }}
		{{ $errored_count := .ErroredCount                          }}
		{{ $total_count   := .TotalCount                            }}
		{{ $pct_active    := PercentInt $active_count  $total_count }}
		{{ $pct_errored   := PercentInt $errored_count $total_count }}

		<td class="category text {{$category_class_name}}">
			<a href="?{{$category_query_params}}">{{$category_name}}</a>
		</td>

		<td class="active count progress active {{$category_class_name}}" title="{{$active_count}} of {{$total_count}}, {{$pct_active}}%">
			<div class="progress-bar" style="width:{{$pct_active}}%;"></div>
			<a href="?{{$category_query_params}}&active">{{$active_count}}</a>
		</td>

		{{ range $i, $n := .BucketCounts }}
			{{ $min := index $r.Bucketing $i }}
			{{ $pct := PercentInt $n $total_count }}
			<td class="bucket count progress min-{{$min}} {{$category_class_name}}" title="{{$n}} of {{$total_count}}, {{$pct}}%">
				<div class="progress-bar" style="width:{{$pct}}%;"></div>
				<a href="?{{$category_query_params}}&min={{$min.String}}">{{$n}}</a>
			</td>
		{{ end }}

		<td class="errored count progress {{$category_class_name}}" title="{{$errored_count}} of {{$total_count}}, {{$pct_errored}}%">
			<div class="progress-bar" style="width:{{$pct_errored}}%;"></div>
			<a href="?{{$category_query_params}}&errored">{{$errored_count}}</a>
		</td>

		<td class="total count {{$category_class_name}}" title="{{$total_count}} total traces">
			{{$total_count}}
		</td>

		<td class="separator {{$category_class_name}}">
			&nbsp;
		</td>

		<td class="oldest {{$category_class_name}}" title="{{.Oldest}}">
			{{ if not .Oldest.IsZero }}
				{{HumanizeDuration (TimeSince .Oldest)}}
			{{ else }}
				n/a
			{{ end }}
		</td>

		<td class="newest {{$category_class_name}}" title="{{.Newest}}">
			{{ if not .Newest.IsZero }}
				{{HumanizeDuration (TimeSince .Newest)}}
			{{ else }}
				n/a
			{{ end }}
		</td>

		<td class="rate numeric {{$category_class_name}}">
			{{ HumanizeFloat .Rate }}/s
		</td>
	</tr>
	{{ end }}

</table>

<!-- --------------------------------- -->

<div id="topline">

	<div id="topline-form">
		<form id="search-form" method="GET" target="">
			<input id="search-box" type="text" name="q" placeholder="regex" value="{{.Request.Filter.Query}}" size="32" autofocus />

			{{ if gt (len .Response.Sources) 1 }}
				{{ $first_source := "" }}
				{{ if gt (len $f.Sources) 0 }} {{ $first_source = index $f.Sources 0 }} {{ end }}
					<select id="search-source" name="source" {{ if not (eq $first_source "") }}style="background-color: yellow;"{{ end }}>
						<option value="" {{ if eq $first_source "" }}selected{{ end }}>all sources</option>
						{{ range .Response.Sources }}
						<option value="{{.}}" {{ if eq $first_source . }}selected{{ end }}>{{.}}</option>
						{{ end }}
					</select>
			{{ else }}
				<input type="hidden" name="source" value="" />
			{{ end }}

			<select id="search-limit" name="n">
				<option name="10"   {{ if eq .Request.Limit 10  }}selected{{ end }}>10 </option>
				<option name="25"   {{ if eq .Request.Limit 25  }}selected{{ end }}>25 </option>
				<option name="100"  {{ if eq .Request.Limit 100 }}selected{{ end }}>100</option>
				{{ if not ( or ( or (eq .Request.Limit 10) (eq .Request.Limit 25) ) (eq .Request.Limit 100) ) }}
				<option name="{{.Request.Limit}}" selected>{{.Request.Limit}}</option>
				{{ end }}
			</select>

			{{ if and (.Request.Filter.Category) (ne .Request.Filter.Category "overall") }}
				<input type="hidden" name="category"  value="{{.Request.Filter.Category}}" />
			{{ end }}

			{{ if .Request.Filter.IsActive }}
				<input type="hidden" name="active" value="{{.Request.Filter.IsActive}}" />
			{{ end }}

			{{ if .Request.Filter.IsFinished }}
				<input type="hidden" name="finished" value="{{.Request.Filter.IsFinished}}" />
			{{ end }}

			{{ if .Request.Filter.MinDuration }}
				<input type="hidden" name="min" value="{{.Request.Filter.MinDuration}}" />
			{{ end }}

			{{ if .Request.Filter.IsSuccess }}
				<input type="hidden" name="success" value="{{.Request.Filter.IsSuccess}}" />
			{{ end }}

			{{ if .Request.Filter.IsErrored }}
				<input type="hidden" name="errored" value="{{.Request.Filter.IsErrored}}" />
			{{ end }}

			<input id="search-button" type="submit" value="query" />
		</form>
	</div>

	<script>
		let formElem = document.getElementById("search-form");
		let inputElems = formElem.querySelectorAll("input,select");

		formElem.onsubmit = function() {
			for (let i = 0; i < inputElems.length; i++) {
				inputElems[i].disabled = (inputElems[i].value == "");
			}
			return true; // ensure form submits
		};

		for (let i = 0; i < inputElems.length; i++) {
			inputElems[i].disabled = false; // un-disable for e.g. "back"
		}
	</script>

	<div id="topline-metadata">
		{{ if .Response.Sources }}
		<div id="topline-search-sources" class="topline-search">
			<details>
				<summary>sources={{ len .Response.Sources }}</summary>
				<div>
					{{ range .Response.Sources }} {{.}}<br/> {{ end }}
				</div>
			</details>
		</div>
		{{ end }}

		<div id="topline-search-total" class="topline-search">
			total={{ .Response.TotalCount }}
		</div>

		<div id="topline-search-matched" class="topline-search">
			matched={{ .Response.MatchCount }}
		</div>

		<div id="topline-search-shown" class="topline-search">
			shown={{ len .Response.Traces }}
		</div>

		<div id="topline-search-took" class="topline-search">
			took={{ HumanizeDuration .Response.Duration }}
		</div>

		{{ $problems := .Problems }}
		{{ if $problems }}
			<div id="topline-search-problems" class="topline-search">
				<details>
					<summary>problems={{ len $problems }}</summary>
					<div>
						{{ range $problems }}<div>{{.}}</div>{{ end }}
					</div>
				</details>
			</div>
		{{ end }}
	</div>

</div>

<!-- --------------------------------- -->

<div id="traces">
{{ if not .Response.Traces }}
<p>No matching traces found.</p>
{{ end }}

{{ range .Response.Traces }}
<a class="trace-anchor" name="{{.ID}}"> </a>
<div id="{{.ID}}" class="trace">
	<div class="metadata">
		{{ $href := printf "id=%s" .ID | SafeURL }}

		<strong><a href="?{{$href}}">{{ .ID }}</a></strong> (<a href="?{{$href}}&json">JSON</a>)

		&middot;
		<a href="?category={{.Category}}">{{.Category}}</a>

		{{ if .Source }}
			&middot;
			via {{.Source}}
		{{ end }}

		<span class="right">
			<span id="{{.ID}}-stacks" class="stacks-link" title="Show stacks" onclick="showStacks({{.ID}});">
				<strong>≡</strong>
			</span>
		</span>
	</div>

	<div class="events">
		<div class="event start">
			<div class="timestamp">
				{{TimeTrunc .Started}}
			</div>

			<div class="delta">
				<div class="progress-bar" style="width:1%;"></div>
				+0
			</div>

			<div class="what meta">
				start (<span class="time-since" title="{{.Started | TimeRFC3339 }}"></span> ago)
			</div>
		</div>

		{{ $start     := .Started  }}
		{{ $duration  := .Duration }}
		{{ $prev_ts   := .Started  }}

		{{ range .Events }}
		<div class="event">
			{{ $delta   := TimeDiff .When $prev_ts          }}
			{{ $overall := TimeDiff .When $start            }}
			{{ $percent := PercentDuration $delta $duration }}

			<div class="timestamp">
				{{TimeTrunc .When}}
			</div>

			<div class="delta" title="+{{$delta}} = {{$overall}}">
				<div class="progress-bar" style="width:{{$percent}}%;"></div>
				+{{$delta | HumanizeDuration}}
				{{ $prev_ts = .When }}
			</div>

			<div class="what {{if .IsError}}error{{end}}">
				<span class="searchable">{{ .What | HTMLEscape | InsertBreaks }}</span>
			</div>

			<div class="stack">
				<details class="stack-details">
					<summary></summary>
					<table class="stack-table">
						{{ range $i, $c := .Stack }}
						<tr>
							<td style="text-align: right;">
								<span class="searchable">
									{{ $href := FileLineURL $c.FileLine }}
									{{ if $href }}
										<a class="searchable" href="{{$href}}">{{$c.CompactFileLine}}</a>
									{{ else }}
										{{ $c.CompactFileLine }}
									{{ end }}
								</span>
							</td>
							<td style="width: 1ch;"></td>
							<td style="text-align: left;">
								<span class="searchable">
									{{$c.Function}}
								</span>
							</td>
						</tr>
						{{ else }}
						<tr>
							<td colspan=3>(no stack)</td>
						</tr>
						{{ end }}
					</table>
				</details>
			</div>
		</div>
		{{ end }}

		<div class="event end">
			{{ $ts      := TimeAdd .Started .Duration }}
			{{ $delta   := TimeDiff $ts $prev_ts | PositiveDuration }}
			{{ $percent := PercentDuration $delta $duration }}

			<div class="timestamp" title="{{$ts}}">
				{{TimeTrunc $ts}}
			</div>

			<div class="delta" title="+{{ $delta }} = {{.Duration}}">
				{{ if .Finished }}<div class="progress-bar" style="width:{{$percent}}%;"></div>{{ end }}
				+{{ HumanizeDuration $delta }}
			</div>

			<div class="what meta">
				{{ if .Finished }}end{{ else }}active...{{ end }}
			</div>
		</div>

		<div class="event summary">
			<div class="timestamp"></div>
			<div class="duration" title="{{.Duration}}">&nbsp;{{ if .Finished }}<strong>{{ HumanizeDuration .Duration }}</strong>{{ else }}<em>{{ HumanizeDuration .Duration }}</em>{{ end }}</div>
			<div class="what"></div>
		</div>
	</div>

</div>
{{ end }}
</div>

<!-- -------------------- -->

<script type="text/javascript">
	let events = document.querySelectorAll(".event");
	for (let i = 0; i < events.length; i++) {
		let eventChild = events[i].querySelectorAll(".when, .what");
		let eventDetails = events[i].getElementsByTagName("details")[0];
		for (let j = 0; j < eventChild.length; j++) {
			eventChild[j].style.cursor = "pointer";
			eventChild[j].addEventListener("click", function() {
				console.log("click");
				eventDetails.open = !eventDetails.open;
			});
		}
	}

	calcDates();
	highlightQuery();
	let input = document.getElementById("search-box");
	input.focus();
	input.select();
</script>

<!-- -------------------- -->

<div id="debug-info" title="Debug info (D)">
	<pre>{{ if DebugInfo }}{{ DebugInfo }}{{ else }}(No debug info){{ end }}</pre>
</div>

<script type="text/javascript">
	function updateDebugInfo() {
		let debugElem = document.getElementById("debug-info");
		if (sessionStorage.getItem("debug-info")) {
			debugElem.style.visibility = "inherit";
		} else {
			debugElem.style.visibility = "hidden";
		}
	}

	function toggleDebug() {
		if (sessionStorage.getItem("debug-info")) {
			sessionStorage.removeItem("debug-info");
		} else {
			sessionStorage.setItem("debug-info", "true");
		}
		updateDebugInfo();
	}

	document.body.addEventListener("keydown", (ev) => {
		if (ev.srcElement !== document.body) {
			return;
		}
		if (ev.keyCode === 68) { // "d" or "D"
			toggleDebug();
		}
	});

	document.getElementById("debug-info").addEventListener("click", (ev) => {
		toggleDebug();
	});

	updateDebugInfo();

	onkeydown = function (e) { console.log("key down", e); };
</script>

<!-- -------------------- -->

</body>
</html>
