<!DOCTYPE html>
<html lang="en">
<!-- Look, I'm doing my best here. I'm sorry. -->
<head>
<title>trc</title>
<style>
{{ template "style.css" . }}

{{ $hc := highlightclasses .Request }}
{{ if $hc -}}
table#summary
	th{{ range $hc -}}.{{.}}{{ end }},
	td{{ range $hc -}}.{{.}}{{ end }},
	tr{{ range $hc -}}.{{.}}{{ end }}
	{
		font-weight: bold;
		{{ if .Request.Regexp -}}
		background-color: rgba(255, 255, 0, 0.4);
		{{ else -}}
		background-color: rgba(173, 216, 230, 0.4);
		{{ end -}}
	}
{{ else if not .Request.IDs -}}
table#summary tr:last-child td:first-child {
	font-weight: bold;
}
{{ end -}}
</style>
</head>

<!-- --------------------------------- -->

<script>
function showstacks(id) {
	let targetElem = document.getElementById(id);
	let stacksLinkElem = document.getElementById(id+"-stacks");
	let doExpand = stacksLinkElem.title == "Show stacks";
	let stackDetails = targetElem.getElementsByClassName("stack-details");
	for (let i = 0; i < stackDetails.length; i++) {
		stackDetails[i].open = doExpand;
	}
	stacksLinkElem.title = doExpand ? "Hide stacks" : "Show stacks";
}

function timesince(s) {
	var ts  = Date.parse(s);
	var now = new Date();
	var ms  = now - ts;

	var days    = Math.floor(ms / (86400 * 1000)); if (days    > 0) { ms -= (days    * (86400 * 1000)) };
	var hours   = Math.floor(ms / (3600  * 1000)); if (hours   > 0) { ms -= (hours   * (3600  * 1000)) };
	var minutes = Math.floor(ms / (60    * 1000)); if (minutes > 0) { ms -= (minutes * (60    * 1000)) };
	var seconds = Math.floor(ms / (1     * 1000)); if (seconds > 0) { ms -= (seconds * (1     * 1000)) };

	switch (true) {
		case    days > 0: return days+"d"    + hours+"h"   ;
		case   hours > 0: return hours+"h"   + minutes+"m" ;
		case minutes > 0: return minutes+"m" + seconds+"s" ;
		case seconds > 0: return seconds+"s"               ;
		case      ms > 0: return ms+"ms"                   ;
		default:          return "fresh";
	}
}

function calcdates() {
	let timeSinces = document.getElementsByClassName("time-since");
	for (let i = 0; i < timeSinces.length; i++) {
		timeSinces[i].textContent = timesince(timeSinces[i].title);
	}
}

setInterval(calcdates, 1000);

function highlightquery() {
	{{ if .Request.Regexp -}}
	let re = new RegExp('('+{{.Request.Regexp.String}}+')');
	document.getElementById("traces").querySelectorAll(".searchable").forEach(elem => {
		if (re.test(elem.textContent)) {
			elem.classList.add("highlight");
			let details = elem.closest("details");
			if (details != null) {
				details.open = true;
			}
		}
	});
	{{ end -}}
}
</script>

<!-- --------------------------------- -->

<body>

<!-- --------------------------------- -->

{{ $n := .Request.Limit }}
{{ $q := .Request.Query }}
{{ $r := .Request }}

{{ $query_params := printf "n=%d" $r.Limit | safeurl }}
{{ range .Remotes }}{{ $r := . | urlencode }}{{ $query_params = printf "r=%s&%s" $r $query_params | safeurl }}{{ end }}
{{ if $r.Regexp }}{{ $query_params = printf "%s&q=%s" $query_params $r.Regexp.String | safeurl }}{{ end }}

<table id="summary">

<tr class="header">
	<th class="category text">
		&nbsp;
	</th>

	<th class="active count">
		<a href="?{{$query_params}}&active">Active</a>
	</th>

	{{ range .Response.Stats.Bucketing -}}
	<th class="bucket count min-{{.String}}">
		<a href="?{{$query_params}}&min={{.String}}">&geq;{{.String}}</a>
	</th>
	{{ end -}}

	<th class="failed count">
		<a href="?{{$query_params}}&failed">Failed</a>
	</th>

	<th class="total count">
		Total
	</th>

	<th class="separator">
		&nbsp;
	</th>

	<th class="oldest" title="Oldest trace">
		Oldest
	</th>

	<th class="newest" title="Newest trace">
		Newest
	</th>

	<th class="rate numeric">
		Rate
	</th>
</tr>

{{ range .Response.Stats.Categories -}}
<tr class="category">
	{{ $category_name       := .Name                              -}}
	{{ $category_class_name := category2class .Name               -}}
	{{ $num_active          := .NumActive                         -}}
	{{ $num_failed          := .NumFailed                         -}}
	{{ $num_total           := .NumTotal                          -}}
	{{ $pct_active          := uint64percent $num_active $num_total -}}
	{{ $pct_failed          := uint64percent $num_failed $num_total -}}

	<td class="category text {{$category_class_name}}">
		<a href="?{{$query_params}}&category={{$category_name}}">{{$category_name}}</a>
	</td>

	<td class="active count progress active {{$category_class_name}}" title="{{$num_active}} of {{$num_total}}, {{$pct_active}}%">
		<div class="progress-bar" style="width:{{$pct_active}}%;"></div>
		<a href="?{{$query_params}}&category={{$category_name}}&active">{{$num_active}}</a>
	</td>

	{{ range $i, $n := .NumBucket -}}
	{{ $min := index $r.Bucketing $i -}}
	{{ $pct := uint64percent $n $num_total -}}
	<td class="bucket count progress min-{{$min}} {{$category_class_name}}" title="{{$n}} of {{$num_total}}, {{$pct}}%">
		<div class="progress-bar" style="width:{{$pct}}%;"></div>
		<a href="?{{$query_params}}&category={{$category_name}}&min={{$min.String}}">{{$n}}</a>
	</td>
	{{ end -}}

	<td class="failed count progress {{$category_class_name}}" title="{{$num_failed}} of {{$num_total}}, {{$pct_failed}}%">
		<div class="progress-bar" style="width:{{$pct_failed}}%;"></div>
		<a href="?{{$query_params}}&category={{$category_name}}&failed">{{$num_failed}}</a>
	</td>

	<td class="total count {{$category_class_name}}" title="{{$num_total}} total traces">
		{{$num_total}}
	</td>

	<td class="separator {{$category_class_name}}">
		&nbsp;
	</td>

	<td class="oldest {{$category_class_name}}" title="{{.Oldest}}">
		{{humanizeduration (timesince .Oldest)}}
	</td>

	<td class="newest {{$category_class_name}}" title="{{.Newest}}">
		{{humanizeduration (timesince .Newest)}}
	</td>

	<td class="rate numeric {{$category_class_name}}">
		{{ humanizefloat .Rate }}/s
	</td>
</tr>
{{ end -}}

{{ with .Response.Stats.Overall -}}
<tr class="category">
	{{ $category_name       := .Name                              -}}
	{{ $category_class_name := category2class .Name               -}}
	{{ $num_active          := .NumActive                         -}}
	{{ $num_failed          := .NumFailed                         -}}
	{{ $num_total           := .NumTotal                          -}}
	{{ $pct_active          := uint64percent $num_active $num_total -}}
	{{ $pct_failed          := uint64percent $num_failed $num_total -}}

	<td class="category text {{$category_class_name}}">
		<a href="?{{$query_params}}">{{$category_name}}</a>
	</td>

	<td class="active count progress active {{$category_class_name}}" title="{{$num_active}} of {{$num_total}}, {{$pct_active}}%">
		<div class="progress-bar" style="width:{{$pct_active}}%;"></div>
		{{$num_active}}
	</td>

	{{ range $i, $n := .NumBucket -}}
	{{ $min := index $r.Bucketing $i -}}
	{{ $pct := uint64percent $n $num_total -}}
	<td class="bucket count progress min-{{$min}} {{$category_class_name}}" title="{{$n}} of {{$num_total}}, {{$pct}}%">
		<div class="progress-bar" style="width:{{$pct}}%;"></div>
		{{$n}}
	</td>
	{{ end -}}

	<td class="failed count progress {{$category_class_name}}" title="{{$num_failed}} of {{$num_total}}, {{$pct_failed}}%">
		<div class="progress-bar" style="width:{{$pct_failed}}%;"></div>
		{{$num_failed}}
	</td>

	<td class="total count {{$category_class_name}}" title="{{$num_total}} total traces">
		{{$num_total}}
	</td>

	<td class="separator {{$category_class_name}}">
		&nbsp;
	</td>

	<td class="oldest {{$category_class_name}}" title="{{.Oldest}}">
		{{humanizeduration (timesince .Oldest)}}
	</td>

	<td class="newest {{$category_class_name}}" title="{{.Newest}}">
		{{humanizeduration (timesince .Newest)}}
	</td>

	<td class="rate numeric {{$category_class_name}}">
		{{ humanizefloat .Rate }}/s
	</td>
</tr>
{{ end -}}

</table>

<!-- --------------------------------- -->

<div id="topline">

	<div id="topline-form">
		<form id="search-form" method="GET" target="">
			<input id="search-box" type="text" name="q" placeholder="regex" {{if .Request.Regexp}}value="{{.Request.Regexp.String}}"{{end}} size="32" autofocus />

			<select id="search-limit" name="n">
				<option name="10"   {{ if eq .Request.Limit 10   -}}selected{{ end -}}>10  </option>
				<option name="25"   {{ if eq .Request.Limit 25   -}}selected{{ end -}}>25  </option>
				<option name="100"  {{ if eq .Request.Limit 100  -}}selected{{ end -}}>100 </option>
				{{ if not ( or ( or (eq .Request.Limit 10) (eq .Request.Limit 25) ) (eq .Request.Limit 100) ) -}}
				<option name="{{.Request.Limit}}" selected>{{.Request.Limit}}</option>
				{{ end -}}
			</select>

			{{ if .Request.Category    -}}<input type="hidden" name="category"  value="{{.Request.Category}}"    />{{ end -}}
			{{ if .Request.IsActive    -}}<input type="hidden" name="active"    value="{{.Request.IsActive}}"    />{{ end -}}
			{{ if .Request.MinDuration -}}<input type="hidden" name="min"       value="{{.Request.MinDuration}}" />{{ end -}}
			{{ if .Request.IsFailed    -}}<input type="hidden" name="failed"    value="{{.Request.IsFailed}}"    />{{ end -}}

			{{ range .Remotes -}}
				<input type="hidden" name="r" value="{{.}}" />
			{{ end -}}

			<input id="search-button" type="submit" value="search"/>
		</form>
	</div>

	<script>
		let formElem = document.getElementById("search-form");
		let inputElems = formElem.querySelectorAll("input,select");

		formElem.onsubmit = function() {
			for (let i = 0; i < inputElems.length; i++) {
				inputElems[i].disabled = (inputElems[i].value == "");
			}
			return true; // ensure form submits
		};

		for (let i = 0; i < inputElems.length; i++) {
			inputElems[i].disabled = false; // un-disable for e.g. "back"
		}
	</script>

	<div id="topline-metadata">
		{{ if .Response.Sources }}
			<div id="topline-search-sources" class="topline-search" title="{{stringsjoinnewline .Sources}}">
				<details>
					<summary>sources={{ len .Response.Sources }}</summary>
					<div>
						{{ range .Response.Sources }}{{ . }}<br/>{{ end }}
					</div>
				</details>
			</div>
		{{ end }}
		<div id="topline-search-total"    class="topline-search">traces={{ .Response.Stats.Overall.NumTotal }}</div>
		<div id="topline-search-matched"  class="topline-search">matched={{ .Response.Matched }}</div>
		<div id="topline-search-shown"    class="topline-search">shown={{ len .Response.Selected }}</div>
		<div id="topline-search-took"     class="topline-search">took={{ humanizeduration .Response.Duration }}</div>
		{{ if .Response.Problems -}}
			<div id="topline-search-problems" class="topline-search">
				<details>
					<summary>problems={{ len .Response.Problems -}}</summary>
					<div>
						{{ range .Response.Problems -}}<div>{{.}}</div>{{ end -}}
					</div>
				</details>
			</div>
		{{ end -}}
	</div>

</div>

<!-- --------------------------------- -->

<div id="traces">
{{ if not .Response.Selected -}}
<p>No matching traces found.</p>
{{ end -}}

{{ range .Response.Selected -}}
<div id="{{.ID}}" class="trace">

	<div class="metadata">
		{{ $href := printf "%s&id=%s" $query_params .ID | safeurl }}
		<strong class="searchable"><a href="?{{$href}}">{{ .ID }}</a></strong>
		&middot;
		<a href="?{{$href}}&json">JSON</a>
		{{ range .Via }}
			&middot; <span class="via">via <a href="{{.}}">{{.}}</a></span>
		{{ end }}
		<span class="right">
			<span id="{{.ID}}-stacks" class="stacks-link" title="Show stacks">
				<a href="#" onclick="showstacks({{.ID}});"><strong>≡</strong></a>
			</span>
		</span>
	</div>

	<div class="events">
		<div class="event start">
			<div class="timestamp">
				{{timetrunc .Started}}
			</div>

			<div class="delta">
				<div class="progress-bar" style="width:1%;"></div>
				+0
			</div>

			<div class="what meta">
				start (<span class="time-since" title="{{.Started | timerfc3339 }}"></span> ago)
			</div>
		</div>

		{{ $start      := .Started    -}}
		{{ $duration   := .Duration -}}
		{{ $prev_ts    := .Started    -}}
		{{ $zero_depth := 0         -}}
		{{ if .Events }} {{ $zero_depth = len (index .Events 0).Stack }} {{ end -}}

		{{ range .Events -}}
		<div class="event">
			{{ $delta   := timediff .When $prev_ts      -}}
			{{ $targetverall := timediff .When $start        -}}
			{{ $percent := durationpercent $delta $duration -}}

			<div class="timestamp">
				{{timetrunc .When}}
			</div>

			<div class="delta" title="+{{$delta}} = {{$targetverall}}">
				<div class="progress-bar" style="width:{{$percent}}%;"></div>
				+{{ humanizeduration $delta }}
				{{ $prev_ts = .When -}}
			</div>

			<div class="what {{if .IsError}}error{{end}}">
				<span class="searchable">{{ .What | htmlescape | insertbreaks }}</span>
			</div>

			<div class="stack">
				<details class="stack-details">
					<summary>≡</summary>
					<table class="stack-table">
						{{ range $i, $c := .Stack -}}
						<tr>
							<td style="text-align: right;"><span class="searchable">{{$c.FileLine}}</span></td>
							<td style="width: 1ch;">&nbsp;</td>
							<td><span class="searchable">{{$c.Function}}</span></td>
						</tr>
						{{ else -}}
						<tr>
							<td colspan=2>(stack elided)</td>
						</tr>
						{{ end -}}
					</table>
				</details>
			</div>
		</div>
		{{ end -}}

		<div class="event end">
			{{ $delta   := timediff (timeadd .Started .Duration) $prev_ts -}}
			{{ $percent := durationpercent $delta $duration                 -}}

			<div class="timestamp" title="{{timeadd .Started .Duration}}">
				{{timetrunc (timeadd .Started .Duration)}}
			</div>

			<div class="delta" title="+{{ $delta }} = {{.Duration}}">
				{{ if .Finished }}<div class="progress-bar" style="width:{{$percent}}%;"></div>{{ end -}}
				+{{ humanizeduration $delta }}
			</div>

			<div class="what meta">
				{{ if .Finished }} end {{ else }} active... {{ end -}}
			</div>
		</div>

		<div class="event summary">
			<div class="timestamp"></div>
			<div class="duration" title="{{ .Duration }}">&nbsp;{{ if .Finished }}<strong>{{ humanizeduration .Duration }}</strong>{{ else }}<em>{{ humanizeduration .Duration }}</em>{{ end -}}</div>
			<div class="what"></div>
		</div>
	</div>

</div>
{{ end -}}
</div>

<!-- -------------------- -->
<script>
	calcdates();
	highlightquery();
	let input = document.getElementById("search-box");
	input.focus();
	input.select();
</script>
<!-- -------------------- -->

</body>
</html>
