<!DOCTYPE html>
<html lang="en">

<!-- Look, I'm doing my best here. I'm sorry. -->

<head>
<title>trc</title>
<style>
{{ template "style.css" . }}

{{ $hc := highlightclasses .Request }}
{{ if $hc -}}
table#summary
	th{{ range $hc -}}.{{.}}{{ end }},
	td{{ range $hc -}}.{{.}}{{ end }},
	tr{{ range $hc -}}.{{.}}{{ end }}
	{
		font-weight: bold;
		{{ if .Request.Query -}}
		background-color: rgba(255, 255, 0, 0.4);
		{{ else -}}
		background-color: rgba(173, 216, 230, 0.4);
		{{ end -}}
	}
{{ else if not .Request.IDs -}}
table#summary tr:last-child td {
	font-weight: bold;
}
{{ end -}}
</style>
</head>

<!-- --------------------------------- -->

<script>
function showstacks(id) {
	let targetElem = document.getElementById(id);
	let stacksLinkElem = document.getElementById(id+"-stacks");
	let doExpand = stacksLinkElem.title == "Show stacks";
	let stackDetails = targetElem.getElementsByClassName("stack-details");
	for (let i = 0; i < stackDetails.length; i++) {
		stackDetails[i].open = doExpand;
	}
	stacksLinkElem.title = doExpand ? "Hide stacks" : "Show stacks";
}

function timesince(s) {
	var ts  = Date.parse(s);
	var now = new Date();
	var ms  = now - ts;

	var days    = Math.floor(ms / (86400 * 1000)); if (days    > 0) { ms -= (days    * (86400 * 1000)) };
	var hours   = Math.floor(ms / (3600  * 1000)); if (hours   > 0) { ms -= (hours   * (3600  * 1000)) };
	var minutes = Math.floor(ms / (60    * 1000)); if (minutes > 0) { ms -= (minutes * (60    * 1000)) };
	var seconds = Math.floor(ms / (1     * 1000)); if (seconds > 0) { ms -= (seconds * (1     * 1000)) };

	switch (true) {
		case    days > 0: return days+"d"    + hours+"h"   ;
		case   hours > 0: return hours+"h"   + minutes+"m" ;
		case minutes > 0: return minutes+"m" + seconds+"s" ;
		case seconds > 0: return seconds+"s"               ;
		case      ms > 0: return ms+"ms"                   ;
		default:          return "fresh";
	}
}

function calcdates() {
	let timeSinces = document.getElementsByClassName("time-since");
	for (let i = 0; i < timeSinces.length; i++) {
		timeSinces[i].textContent = timesince(timeSinces[i].title);
	}
}

setInterval(calcdates, 1000);

function highlightquery() {
	{{ if .Request.Query -}}
	let re = new RegExp('('+{{.Request.Query}}+')');
	document.getElementById("traces").querySelectorAll(".searchable").forEach(elem => {
		if (re.test(elem.textContent)) {
			elem.classList.add("highlight");
			let details = elem.closest("details");
			if (details != null) {
				details.open = true;
			}
		}
	});
	{{ end -}}
}
</script>

<body>

<!-- --------------------------------- -->

{{ $n := .Request.Limit }}
{{ $q := .Request.Query }}
{{ $r := .Request }}

{{ $query_params := printf "n=%d" $n | safeurl }}

{{ if $r.Query }}
	{{ $query_params = printf "%s&q=%s" $query_params ($r.Query | safeurl) }}
{{ end }}

{{ if not (reflectdeepequal defaultbucketing $r.Bucketing) }}
	{{ range $r.Bucketing }}
		{{ $query_params = printf "%s&b=%s" $query_params (. | safeurl) }}
	{{ end }}
{{ end }}

<!-- --------------------------------- -->

<table id="summary">
	<tr class="header">
		<th class="category text">
			&nbsp;
		</th>

		<th class="active">
			<a href="?{{$query_params}}&active">Active</a>
		</th>

		{{ range .Response.Stats.Bucketing -}}
		<th class="bucket min-{{.String}}">
			<a href="?{{$query_params}}&min={{.String}}">&geq;{{.String}}</a>
		</th>
		{{ end -}}

		<th class="errored">
			<a href="?{{$query_params}}&errored">Error</a>
		</th>

		<th class="total">
			Total
		</th>

		<th class="separator">
			&nbsp;
		</th>

		<th class="oldest" title="Oldest trace">
			Oldest
		</th>

		<th class="newest" title="Newest trace">
			Newest
		</th>

		<th class="rate numeric">
			Rate
		</th>
	</tr>

	{{ range .Response.Stats.AllCategories -}}
	<tr class="category">
		{{ $category_name         := .Category                     -}}
		{{ $category_class_name   := category2class $category_name -}}

		{{ $category_query_params := $query_params -}}
		{{ if ne $category_name "overall" -}}
			{{ $category_query_params = printf "%s&category=%s" $query_params $category_name | safeurl -}}
		{{ end -}}

		{{ $active_count  := .ActiveCount                           -}}
		{{ $errored_count := .ErroredCount                          -}}
		{{ $total_count   := .TotalCount                            -}}
		{{ $pct_active    := intpercent $active_count  $total_count -}}
		{{ $pct_errored   := intpercent $errored_count $total_count -}}

		<td class="category text {{$category_class_name}}">
			<a href="?{{$category_query_params}}">{{$category_name}}</a>
		</td>

		<td class="active count progress active {{$category_class_name}}" title="{{$active_count}} of {{$total_count}}, {{$pct_active}}%">
			<div class="progress-bar" style="width:{{$pct_active}}%;"></div>
			<a href="?{{$category_query_params}}&active">{{$active_count}}</a>
		</td>

		{{ range $i, $n := .BucketCount -}}
		{{ $min := index $r.Bucketing $i -}}
		{{ $pct := intpercent $n $total_count -}}
		<td class="bucket count progress min-{{$min}} {{$category_class_name}}" title="{{$n}} of {{$total_count}}, {{$pct}}%">
			<div class="progress-bar" style="width:{{$pct}}%;"></div>
			<a href="?{{$category_query_params}}&min={{$min.String}}">{{$n}}</a>
		</td>
		{{ end -}}

		<td class="errored count progress {{$category_class_name}}" title="{{$errored_count}} of {{$total_count}}, {{$pct_errored}}%">
			<div class="progress-bar" style="width:{{$pct_errored}}%;"></div>
			<a href="?{{$category_query_params}}&errored">{{$errored_count}}</a>
		</td>

		<td class="total count {{$category_class_name}}" title="{{$total_count}} total traces">
			{{$total_count}}
		</td>

		<td class="separator {{$category_class_name}}">
			&nbsp;
		</td>

		<td class="oldest {{$category_class_name}}" title="{{.Oldest}}">
			{{ if not .Oldest.IsZero -}}
				{{humanizeduration (timesince .Oldest)}}
			{{ else -}}
				n/a
			{{ end -}}
		</td>

		<td class="newest {{$category_class_name}}" title="{{.Newest}}">
			{{ if not .Newest.IsZero -}}
				{{humanizeduration (timesince .Newest)}}
			{{ else -}}
				n/a
			{{ end -}}
		</td>

		<td class="rate numeric {{$category_class_name}}">
			{{ humanizefloat .Rate }}/s
		</td>
	</tr>
	{{ end -}}

</table>

<!-- --------------------------------- -->

<div id="topline">

	<div id="topline-form">
		<form id="search-form" method="GET" target="">
			<input id="search-box" type="text" name="q" placeholder="regex" value="{{.Request.Query}}" size="32" autofocus />

			<select id="search-limit" name="n">
				<option name="10"   {{ if eq .Request.Limit 10  -}}selected{{ end -}}>10 </option>
				<option name="25"   {{ if eq .Request.Limit 25  -}}selected{{ end -}}>25 </option>
				<option name="100"  {{ if eq .Request.Limit 100 -}}selected{{ end -}}>100</option>
				{{ if not ( or ( or (eq .Request.Limit 10) (eq .Request.Limit 25) ) (eq .Request.Limit 100) ) -}}
				<option name="{{.Request.Limit}}" selected>{{.Request.Limit}}</option>
				{{ end -}}
			</select>

			{{ if .Request.Category    -}}{{ if ne .Request.Category "overall" -}}<input type="hidden" name="category"  value="{{.Request.Category}}" />{{ end -}}{{ end -}}
			{{ if .Request.IsActive    -}}<input type="hidden" name="active"   value="{{.Request.IsActive}}"    />{{ end -}}
			{{ if .Request.MinDuration -}}<input type="hidden" name="min"      value="{{.Request.MinDuration}}" />{{ end -}}
			{{ if .Request.IsErrored   -}}<input type="hidden" name="errored"  value="{{.Request.IsErrored}}"   />{{ end -}}

			<input id="search-button" type="submit" value="search"/>
		</form>
	</div>

	<script>
		let formElem = document.getElementById("search-form");
		let inputElems = formElem.querySelectorAll("input,select");

		formElem.onsubmit = function() {
			for (let i = 0; i < inputElems.length; i++) {
				inputElems[i].disabled = (inputElems[i].value == "");
			}
			return true; // ensure form submits
		};

		for (let i = 0; i < inputElems.length; i++) {
			inputElems[i].disabled = false; // un-disable for e.g. "back"
		}
	</script>

	<div id="topline-metadata">
		{{ if .Response.Sources }}
			<div id="topline-search-sources" class="topline-search" title="{{stringsjoinnewline .Response.Sources}}">
				<details>
					<summary>sources={{ len .Response.Sources }}</summary>
					<div>
						{{ range .Response.Sources }}{{ . }}<br/>{{ end }}
					</div>
				</details>
			</div>
		{{ end }}
		<div id="topline-search-total"    class="topline-search">traces={{ .Response.Stats.Overall.TotalCount }}</div>
		<div id="topline-search-matched"  class="topline-search">matched={{ .Response.Matched }}</div>
		<div id="topline-search-shown"    class="topline-search">shown={{ len .Response.Selected }}</div>
		<div id="topline-search-took"     class="topline-search">took={{ humanizeduration .Response.Duration }}</div>
		{{ $problems := .Problems }}
		{{ if $problems -}}
			<div id="topline-search-problems" class="topline-search">
				<details>
					<summary>problems={{ len $problems -}}</summary>
					<div>
						{{ range $problems -}}<div>{{.}}</div>{{ end -}}
					</div>
				</details>
			</div>
		{{ end -}}
	</div>

</div>

<!-- --------------------------------- -->

<div id="traces">
{{ if not .Response.Selected -}}
<p>No matching traces found.</p>
{{ end -}}

{{ range .Response.Selected -}}
<a class="trace-anchor" name="{{.ID}}"> </a>
<div id="{{.ID}}" class="trace">
	<div class="metadata">
		{{ $href := printf "id=%s" .ID | safeurl }}
		<strong><a href="?{{$href}}">{{ .ID }}</a></strong>

		&middot;

		<a href="?{{$href}}&json">JSON</a>

		{{ if .Source }}
			&middot;
			<span class="source">via {{.Source}}</span>
		{{ end }}

		<span class="right">
			<span id="{{.ID}}-stacks" class="stacks-link" title="Show stacks" onclick="showstacks({{.ID}});">
				<strong>≡</strong>
			</span>
		</span>
	</div>

	<div class="events">
		<div class="event start">
			<div class="timestamp">
				{{timetrunc .Started}}
			</div>

			<div class="delta">
				<div class="progress-bar" style="width:1%;"></div>
				+0
			</div>

			<div class="what meta">
				start (<span class="time-since" title="{{.Started | timerfc3339 }}"></span> ago)
			</div>
		</div>

		{{ $start      := .Started  -}}
		{{ $duration   := .Duration -}}
		{{ $prev_ts    := .Started  -}}

		{{ range .Events -}}
		<div class="event">
			{{ $delta   := timediff .When $prev_ts          -}}
			{{ $overall := timediff .When $start            -}}
			{{ $percent := durationpercent $delta $duration -}}

			<div class="timestamp">
				{{timetrunc .When}}
			</div>

			<div class="delta" title="+{{$delta}} = {{$overall}}">
				<div class="progress-bar" style="width:{{$percent}}%;"></div>
				+{{$delta | humanizeduration}}
				{{ $prev_ts = .When }}
			</div>

			<div class="what{{if .IsError}} error{{end}}">
				<span class="searchable">{{ .What | htmlescape | insertbreaks -}}</span>
			</div>

			<div class="stack">
				<details class="stack-details">
					<summary>≡</summary>
					<table class="stack-table">
						{{ range $i, $c := .Stack -}}
						<tr>
							<td style="text-align: right;">
								<span class="searchable">
									<a href="vscode://file/{{$c.FileLine}}">{{$c.CompactFileLine}}</a>
								</span>
							</td>
							<td style="width: 1ch;">&nbsp;</td>
							<td style="text-align: left;">
								<span class="searchable">
									{{$c.Function}}
								</span>
							</td>
						</tr>
						{{ else -}}
						<tr>
							<td colspan=3>(no stack)</td>
						</tr>
						{{ end -}}
					</table>
				</details>
			</div>
		</div>
		{{ end -}}

		<div class="event end">
			{{ $ts      := timeadd .Started .Duration -}}
			{{ $delta   := timediff $ts $prev_ts | positiveduration -}}
			{{ $percent := durationpercent $delta $duration -}}

			<div class="timestamp" title="{{$ts}}">
				{{timetrunc $ts}}
			</div>

			<div class="delta" title="+{{ $delta }} = {{.Duration}}">
				{{ if .Finished }}<div class="progress-bar" style="width:{{$percent}}%;"></div>{{ end -}}
				+{{ humanizeduration $delta }}
			</div>

			<div class="what meta">
				{{ if .Finished }}end{{ else }}active...{{ end -}}
			</div>
		</div>

		<div class="event summary">
			<div class="timestamp"></div>
			<div class="duration" title="{{.Duration}}">&nbsp;{{ if .Finished }}<strong>{{ humanizeduration .Duration }}</strong>{{ else }}<em>{{ humanizeduration .Duration }}</em>{{ end -}}</div>
			<div class="what"></div>
		</div>
	</div>

</div>
{{ end -}}
</div>

<!-- -------------------- -->

<script type="text/javascript">
	calcdates();
	highlightquery();
	let input = document.getElementById("search-box");
	input.focus();
	input.select();
</script>

<!-- -------------------- -->

<div id="debuginfo" title="Debug info (D)">
	<pre>{{ if debuginfo -}}{{ debuginfo }}{{ else -}}(No debug info){{ end -}}</pre>
</div>

<script type="text/javascript">
	function updatedebuginfo() {
		let debugElem = document.getElementById("debuginfo");
		if (sessionStorage.getItem("debuginfo")) {
			debugElem.style.visibility = "inherit";
		} else {
			debugElem.style.visibility = "hidden";
		}
	}

	function toggledebug() {
		if (sessionStorage.getItem("debuginfo")) {
			sessionStorage.removeItem("debuginfo");
		} else {
			sessionStorage.setItem("debuginfo", "true");
		}
		updatedebuginfo();
	}

	document.body.addEventListener("keydown", (ev) => {
		if (ev.srcElement !== document.body) {
			return;
		}
		if (ev.keyCode === 68) { // "d" or "D"
			toggledebug();
		}
	});

	document.getElementById("debuginfo").addEventListener("click", (ev) => {
		toggledebug();
	});

	updatedebuginfo();
</script>

<!-- -------------------- -->

<script type="text/javascript">


</script>

<!-- -------------------- -->



</body>
</html>
